<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaron Edwards - Tech Challenge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/scss/style.css">
    <script src="../js/build.js"></script>
</head>

<body>
    <h3>Shine Solar</h3>
    <!-- Put your code in the section tag  -->
    <section>
        <table id="usersTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </section>

</body>

</html>