* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

body {
  background-color: #F5F6F7;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex; }

body section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #FFFFFF; }

body {
  font-family: 'Ubuntu', sans-serif; }

h3 {
  color: #FF6900;
  margin-bottom: 25px;
  text-align: left;
  width: 100%; }

table {
  width: 100%;
  margin: 30px 50px;
  border-collapse: collapse; }

td, th {
  padding-left: 10px; }

thead th {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: #D3D8DC 1px solid; }

tbody tr:hover td {
  background-color: #ECEEEF; }

tr td {
  padding-top: 5px;
  padding-bottom: 5px; }

tr td:first-of-type {
  color: #2485E1; }

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.modal-content {
  display: flex;
  flex-flow: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 5% auto;
  width: 100%;
  max-height: 500px;
  overflow: hidden; }

@media screen and (min-width: 768px) {
  .modal-content {
    width: 30%; } }

.modal-content ul {
  list-style: none;
  margin-left: 20px; }

.modal-content ul li {
  margin-bottom: 20px; }

.modal-body {
  overflow-y: auto;
  margin-right: 20px; }

.modal-head, .modal-footer {
  height: 30px;
  flex-shrink: 0; }
